@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
--cor-primaria: #000000;
--cor-texto: #f6f6f6;
--cor-destaque-azul: #22d4fd;
--cor-destaque-amarelo: yellow;
--cor-fundo-hover: #161616;
--cor-fundo-rodape: #222222;

--fonte-primaria: "Krona One", sans-serif;
--fonte-secundaria: "Montserrat", sans-serif;
--font-terciaria: "Pixelify Sans", sans-serif;

}

html {
    font-size: 100%;
}


* {
    margin: 0;
    padding: 0;

}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    box-sizing: border-box;
    
}

.cabecalho{
    padding: 2% 0% 0% 15%;
    


}

.cabecalho__menu{
    display: flex;
    gap: 2rem;
    
    
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-fundo-hover);


}


.cabecalho__menu__link {
    font-family: var(--font-terciaria);
    font-weight: 600; 
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    border: 0.125rem solid  var(--cor-destaque-amarelo);
    border-radius: 0.5rem; 
    padding: 10px 30px; 

    
}


.titulo-destaque {
    color: var(--cor-destaque-amarelo);
    font-family: var(--font-terciaria);
    font-size: 2.3rem;

}


.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conjunto (imagem + texto) */
    padding: 5% 15% 15%;
    gap: 5rem; /* Define um espaço explícito de 80px */
}

.apresentacao__foto {
    width: 30%; 
    height: auto; 
    border-radius: 0.625rem; 
    box-shadow: 0 0 1.25rem 0.3125rem rgba(72, 255, 0, 0.199); 

}

.apresentacao__conteudo {
    width: 50%; 

}

.apresentacao__conteudo__titulo {
    font-size: 1.875rem; 
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;



}

.apresentacao__conteudo__paragrafo {
    font-size: 1.25rem; 
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    margin-top: 1.875rem ; 
    margin-bottom: 1.875rem ; 
    
    

}

.apresentacao__links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem; 


}



.apresentacao__links {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    align-items: center;
    gap: 2rem;

}

.apresentacao__links__link {

    text-align: center;
    border-radius: 0.5rem; 
    font-size: 1.5rem; 
    padding: 20px 50px; 
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
    font-weight: 600; 
    border: 0.125rem solid  var(--cor-destaque-amarelo);
    display: flex;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
    gap: 1rem;
    
    
}

.apresentacao__links__link:hover {
    background-color: var(--cor-fundo-hover);


}

.rodape {
    color: var(--cor-texto);
    background-color: var(--cor-fundo-rodape);
    padding: 2.1875rem; 
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem; 
    font-weight: 400;

}

.nome-desenvolvedor {
    color: var(--cor-destaque-amarelo);

}

.apresentacao__conteudo__titulo__sobremim{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    padding: 3%; 
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2.1875rem; 
    
    

    

}

.apresentacao__conteudo__paragrafo__sobremim{
    font-size: 1.5625rem; 
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    margin-top: 1.875rem; 
    margin-bottom: 1.875rem; 
    display: flex;
    text-align:left;
    margin: 2% 15% 0% 15%;


}

@media (max-width: 425px) {
.cabecalho {
    padding: 6%;
    
}

.cabecalho__menu{
    justify-content: center;


}

.apresentacao {
    flex-direction: column-reverse; 
    align-items: center; 
    padding: 5%;

}
.apresentacao__foto {
    width: 60%; 



}

.apresentacao__conteudo__titulo{
    font-size: 100%;
    


}

.titulo-destaque{
    font-size: 150%;

}

.apresentacao__conteudo{
    
    width: auto; /* Permite que o conteúdo se ajuste ao padding do pai */
    text-align: center; /* Centraliza o texto para uma melhor visualização mobile */
}
.apresentacao__links_subtitulo{
    font-size: 100%;

}

.apresentacao__links{
    padding-bottom: 10%;
    


}


.apresentacao__links__link{
    font-size: 120%;
    padding: 5% 20%;

}

.rodape {
    font-size: 100%;
    padding: 6%;

}
}
